<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Notícias Acessíveis</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  </head>
  <body>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <div class="masthead">
        <div class="container">
            <h1>Notícias Clean</h1>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="col-md-12">
            <a class="btn btn-primary" href="/oantagonista"> O ANTAGONISTA </a>
            <br>
            <br>
            <a class="btn btn-secondary" href="/portaldoholanda"> PORTAL DO HOLANDA </a>
        </div>
    </div>
  </body>
</html>
